@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@font-face {
  font-family: Euclid Circular A;
  font-weight: 100;
  src: url('./assets/fonts/EuclidCircularA-Light.woff') format('woff');
}
/* @font-face {
  font-family: Euclid Circular A;
  font-weight: 200;
  src: url('../public/static/fonts/EuclidCircularA-Regular.woff');
  src: local('GT Walsheim'), url('../public/static/fonts/') format('woff');
} */
@font-face {
  font-family: Euclid Circular A;
  font-weight: 200;
  src: url('./assets/fonts/EuclidCircularA-Regular.woff');
  src: url('./assets/fonts/EuclidCircularA-Regular.woff') format('woff');
}
@font-face {
  font-family: Euclid Circular A;
  font-weight: 700;
  src: url('./assets/fonts/EuclidCircularA-SemiBold.woff') format('woff');
}
@font-face {
  font-family: Euclid Circular A;
  font-weight: 400;
  src: url('./assets/fonts/EuclidCircularA-Medium.woff') format('woff');
}
@font-face {
  font-family: Euclid Circular A;
  font-weight: 900;
  src: url('./assets/fonts/EuclidCircularA-Bold.woff') format('woff');
}
@font-face {
  font-family: Duplicate Sans;

  src: url('./assets/fonts/DuplicateSans-Medium.woff2') format('woff');
}

:root {
  --primary-color: #135bfd;
  --secondary-color: #001140;
  --border-color: #bcc0ea;
  --shadow: 0px 0.75rem 0.25rem rgb(68 83 100 / 10%);
  --primary-font: 'Plus Jakarta Sans';
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 500;
}

html,
body {
  scroll-behavior: smooth;
}
body {
  font-weight: 500 !important;
  position: relative;
  font-family: var(--primary-font);
  background-color: #fff !important;
}

.btn {
  font-size: 0.9rem;
  color: white;
  background-color: var(--secondary-color);
  border-radius: 12px;
  padding: 12px 18px;
  text-align: center;
  white-space: nowrap;
  outline: none;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}
.btn::hover {
  color: white;
  transition: all 0.2s ease-in-out;
  color: var(--primary-color);
}
.btn-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  background: #fff;
}
.btn-outline:hover {
  transition: all 0.2s ease-in-out;
  background: var(--secondary-color);
  color: #fff;
}
.py-5 {
  padding: 5rem 0;
}
@media (min-width: 1024px) {
  .header {
    padding: 0 20rem;
  }
}
@media (min-width: 992px) {
  .header {
    flex: 0 0 auto;
    width: 66.66667%;
  }
}

.header {
  padding: 3rem 0;
  text-align: center;
  margin: 0 auto;
}
.hero__design {
  background: rgba(46, 72, 218, 0.06);
  width: 75%;
  max-width: 1300px;
  border-bottom-right-radius: 10px;
  position: absolute !important;
  top: -100px !important;
  height: 850px;
  z-index: -1;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-checkered {
  background-image: radial-gradient(transparent, transparent 50%, rgb(255, 255, 255)),
    linear-gradient(
      90deg,
      transparent,
      transparent 32px,
      rgb(234, 242, 254) 0px,
      rgb(234, 242, 254)
    ),
    linear-gradient(transparent, transparent 32px, rgb(234, 242, 254) 0px, rgb(234, 242, 254));
  background-size: 100% 100%, 33px 33px, 33px 33px;
  background-repeat: no-repeat, repeat, repeat;
}
.img-grid-item {
  margin-left: 20%;
  opacity: 1;
  width: 362px;
  border-radius: 16px;
  height: auto;
  position: absolute;
  top: 38px;
  left: -8%;
}
.rect {
  position: relative;
  height: 572px;
  left: 5%;
}
@media (max-width: 768px) {
  .bg-checkered {
    display: none;
  }
  .css-146j9wa-MuiGrid-root > .MuiGrid-item {
    padding-left: 0 !important;
  }
}
svg,
img {
  vertical-align: middle;
}

/* ACTIVE TAB STYLE FOR HOME PAGE */
.active-tab {
  border-left: 5px solid #135bfd;
}

/* FAQ PAGE STYLING*/
.accordion-group {
  border-radius: 0.25rem;
}

.accordion {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  position: relative;
  padding: 0.625rem;
  border: 1px solid #e5e5e5;
}
.accordion.open .accordion-control::after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion:not(:first-child) {
  border-top-width: 0;
}

.accordion-control {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.accordion-control > * {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  margin: 0;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  vertical-align: middle;
}
.accordion-control h5 {
  line-height: 1.5em;
}
.accordion-control::after {
  content: url('https://api.iconify.design/akar-icons/plus.svg');
  position: absolute;
  width: 1em;
  line-height: 1em;
  right: 1rem;
  top: 50%;
  font-size: 1.5rem;
  margin-top: -0.5em;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
}

.accordion-content {
  overflow: hidden;
}
.accordion-content .accordion-content-wrapper {
  padding: 0 2rem 1rem 2rem;
}

.text-white .accordion-group .accordion {
  border: 0;
  background-color: rgba(255, 255, 255, 0.05);
}
.text-white .accordion-group .accordion:not(:first-child) {
  margin-top: 2px;
}
.text-white .accordion-group .accordion:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.text-white .accordion-group .accordion-control h5 {
  color: inherit;
}

.text-white .accordion-group .accordion-control::after {
  color: rgba(255, 255, 255, 0.5);
}

.accordion-group-feature .accordion {
  border-radius: 0.25rem;
  padding: 1rem;
}
.accordion-group-feature .accordion:not(:first-child) {
  margin-top: 0.625rem;
}
.accordion-group-feature .accordion:not(:first-child) {
  border-top-width: 1px;
}

.accordion-group-feature .accordion-control,
.accordion-group-feature .accordion-content > div {
  padding: 1rem;
}

.text-white .accordion-group-feature .accordion:not(:first-child) {
  margin-top: 0.625rem;
}

.accordion-group-minimal .accordion {
  border: 0;
  padding: 0 0 0 3rem;
}
.accordion-group-minimal .accordion:not(:first-child) {
  margin-top: 1.25rem;
}

.accordion-group-minimal .accordion-control {
  min-height: 3.75rem;
}
.accordion-group-minimal .accordion-control::after {
  left: -3rem;
  width: 3.75rem;
  color: #000;
  margin-top: -1.875rem;
  line-height: 3.75rem;
  text-align: center;
  border-radius: 50%;
}

.text-white .accordion-group-minimal .accordion {
  background: transparent;
  color: #fff;
}
.text-white .accordion-group-minimal .accordion:not(:first-child) {
  margin-top: 1.25rem;
}
.text-white .accordion-group-minimal .accordion:hover {
  background-color: transparent;
}

.text-white .accordion-group-minimal .accordion-control::after {
  color: #000;
}

.accordion-group-steps {
  overflow: visible;
}
.accordion-group-steps .accordion {
  padding-left: 3.75rem;
  counter-increment: accordion;
  background: transparent;
  border: 0;
}
.accordion-group-steps .accordion.open .accordion-control::before {
  background: #4829b2;
  border-color: #4829b2;
  color: #fff;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  transform: scale(1.4);
}
.accordion-group-steps .accordion:hover .accordion-control::before {
  border-color: #4829b2;
}
.accordion-group-steps .accordion:not(:first-child) {
  margin: 0;
}
.accordion-group-steps .accordion:not(:first-child)::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 29px;
  height: calc(50% - 30px);
  width: 2px;
  background: #e5e5e5;
  z-index: 10;
}
.accordion-group-steps .accordion:not(:last-child)::after {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% + 30px);
  left: 29px;
  height: calc(50% - 30px);
  width: 2px;
  background: #e5e5e5;
  z-index: 10;
}
.accordion-group-steps .accordion-control {
  position: static;
}
.accordion-group-steps .accordion-control > * {
  display: block;
}
.accordion-group-steps .accordion-control::after {
  display: none;
}
.accordion-group-steps .accordion-control::before {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  transition-delay: 0s;
  content: counter(accordion, decimal);
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 3.75rem;
  height: 3.75rem;
  color: #000;
  margin-top: -30px;
  line-height: calc(3.75rem - 4px);
  text-align: center;
  border: 2px solid #e5e5e5;
  z-index: 20;
  border-radius: 50%;
  font-size: 20px;
}

.text-white .accordion-group-steps .accordion {
  background-color: transparent;
}
.text-white .accordion-group-steps .accordion:hover {
  background-color: transparent;
}
.text-white .accordion-group-steps .accordion:not(:first-child) {
  margin-top: 0;
}
.text-white .accordion-group-steps .accordion:not(:first-child)::before {
  background: rgba(255, 255, 255, 0.2);
}
.text-white .accordion-group-steps .accordion:not(:last-child)::after {
  background: rgba(255, 255, 255, 0.2);
}

.text-white .accordion-group-steps .accordion-control::before {
  color: inherit;
  border-color: rgba(255, 255, 255, 0.2);
}

.accordion-group-highlight {
  overflow: visible;
}
.accordion-group-highlight .accordion {
  background: transparent;
  border: 0;
}

.text-white .accordion-group-highlight .accordion {
  background: transparent;
}
.text-white .accordion-group-highlight .accordion:not(:first-child) {
  margin-top: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.text-white .accordion-group-highlight .accordion.open {
  background-color: rgba(255, 255, 255, 0.05);
}

.accordion-group-portal {
  overflow: hidden;
}
.accordion-group-portal .accordion.open {
  background: #f5f5f5;
}
.accordion-group-portal .accordion.open .accordion-control::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
.accordion-group-portal .accordion-control {
  padding: 2rem;
}
.accordion-group-portal .accordion-control::after {
  content: url('https://api.iconify.design/akar-icons/plus.svg');
}
.accordion-group-portal .accordion-control h5 {
  font-size: 1.25rem;
  font-family: inherit;
}
.accordion-group-portal .accordion-content > div {
  padding-bottom: 2rem;
}

@media (max-width: 1199.98px) {
  .accordion-control {
    display: block;
  }
  .accordion-control > *:not(:first-child) {
    margin-top: 0.25rem;
  }
  .accordion-group-feature .accordion-control > * {
    display: inline-block;
  }
}
.accordion-content-open {
  max-height: auto !important;
}
.active {
  background-color: transparent !important;
}
.slide-arrow-right {
  right: 0;
}
.slide-arrow-left {
  left: 0;
  z-index: 9;
}
.slide-btn {
  top: 50%;
  position: absolute !important;
  transform: translate(0, -50%);
  background-color: transparent;
  border: 0;
}

/* HERO LINES */
.lines {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 104%;
  pointer-events: none;
  z-index: 999999;
}
.lines-container {
  position: relative;
  display: grid;
  grid: 1fr / repeat(4, 1fr);
  height: 104%;
  max-width: 1160px;
  margin: 0 auto;
}
.lines-item {
  width: 0.0625rem;
  height: 104%;
  border-left: 0.0625rem solid rgba(0, 0, 0, 0.218);
}
.lines-item:last-of-type {
  position: absolute;
  top: 0;
  right: 0;
}
.lines-light .lines-item {
  border-left-color: rgba(0, 0, 0, 0.118);
}
